#target-1 {
  /* margin-bottom: 5rem; */
}
.about-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section-container h2 {
  font-size: 3rem;
  font-weight: 350;
  margin-bottom: 5rem;
}

.about-section-container p {
  font-size: 1.2rem;
}

.about-text {
  text-align: left;
}

.about-buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-self: flex-start;
  margin-bottom: 3.5rem;
}

.tech-stack-grid {
  justify-items: row;
  align-items: center;
  width: 90%;
  margin-bottom: 10rem;
}
