.tech-stack-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20vh;
}

.tech-stack-section h2 {
  font-size: 2rem;
  margin-bottom: 10vh;
}

.tech-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  justify-content: center;
  gap: 2rem 1rem;
  border: 2px solid var(--cerulean);
  padding: 20px;
  margin-bottom: 10vh;
  border-radius: 40px;
}

.tech-img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
