.contact-form-container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 5rem;
}

.contact-form-container h2 {
  font-size: 3rem;
  font-weight: 350;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.input-field {
  font-family: "Montserrat", sans-serif;
  color: var(--magnolia);
  outline: 1px solid var(--cerulean);
  border-style: hidden;
  border-radius: 3px;
  min-height: 40px;
  font-size: 1rem;
  padding-left: 5px;
}

.input-field:user-valid {
  outline: 1px solid var(--sgbus-green);
}

.input-field:user-invalid {
  outline: 1px solid rgb(204, 57, 57);
}

.input-field--message {
  height: 220px;
}

.form-button-container {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .contact-form-container {
    width: 90%;
  }
}
