.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 300px;
}

.hero-title h1 {
  font-size: 5rem;
  font-weight: 400;
}

.hero-h2 h2 {
  justify-self: center;
  /* min-width: 65%; */
  font-size: 3rem;
  font-weight: 350;
  margin-bottom: 10rem;
}

.h2-colored {
  color: var(--cerulean);
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.social-media-links a {
  text-decoration: none;
  color: inherit;
}

.social-media-links--item {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.social-media-links img {
  height: 30px;
  width: 30px;
}
