.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-right: 1rem;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.nav-container a.nav-active {
  /* text-decoration: underline; */
  color: var(--chili-red);
}
