.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-right: 1rem;
}

.nav-container a {
  text-decoration: none;
}
.nav-container a:visited {
  color: inherit;
}
