:root {
  /* CSS HEX */
  --platinum: #ebe9e9ff;
  --dark-purple: #242038ff;
  --chili-red: #d64933ff;
  --amber: #ffbf00ff;
  --cerulean: #046e8fff;
  --sgbus-green: rgb(87, 148, 46);
}

html,
body {
  scroll-behavior: smooth;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  margin-inline: auto;
  background-color: var(--platinum);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
